<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">  

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>fileuploaddownload.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>uploadDownloadServlet</servlet-name>
    <servlet-class>com.sample.gwt.imageConversion.server.FileUploadDownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>uploadDownloadServlet</servlet-name>
    <url-pattern>/Charanbir_GWT/uploadDownload</url-pattern>
  </servlet-mapping>

</web-app>
